.App {
  text-align: center;
}

.chat-box{
  width: 500px;
  height: 500px;
  border: 2px solid lightblue;
  margin: 10px auto;
}

.message-window{
  width: 480px;
  height: 420px;
  border: 1px solid lightblue;
  margin: 10px;
  color: white;
}

.input-window{
  display: flex;
  margin: 10px;

}