.reg-form-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    padding: 10px;
    width: 400px;

    .submitBtn {
        width: 100%;
        background: $secondary;
        border-color: $neutral-dark;

        &:hover{
            color: $neutral-light;
            border-color: $primary;
        }
    }
}

